<br><br>
<div id="main">


    <div class="container">
        <br><br>
        <h1 style="text-align: center;"></h1>
        <div class="container" style="border: 2px solid red;padding: 10px;">
            <div class="form-group">

                <div class="main">
                    <marquee (mouseover)="stopanimation($event)" (mouseout)="startanimation($event)">
                        <img src="assets/images/first.jpg" height="500" width="500">
                        <img src="assets/images/second.jpeg" height="500" width="500">
                        <img src="assets/images/third.jpg" height="500" width="500">
                    </marquee>
                </div>


            </div>

        </div>
    </div>
    <div class="main">
        <br><br><br><br>
        <div class="container" id="activities">
            <div class="row">
                <div class="col-lg-6">
                    <div class="tm-activity-block">
                        <div class="tm-activity-img-container">
                            <img src="assets/images/fourth.JPG" alt="Image" class="tm-activity-img" />
                        </div>
                        <div class="tm-activity-block-text">
                            <h3 class="tm-text-blue">VISION</h3>
                            <li class="min">Our vision is to be a leading consulting
                                firm operating worldwide. Our success is
                                measured by the value we deliver to clients,
                                the quality of the staff we employ,
                                and our strength and spirit as a firm.
                                We nurture our core values and they shape the culture of our
                                business and define the character of our firm. They guide our decision
                                making, our interactions with our clients and our relationships with
                                each other. Our people adopt, own and apply our values in their work.<img class="fa"
                                    alt="" srcset=""></li>


                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="tm-activity-block mr-lg-0 ml-lg-auto">
                        <div class="tm-activity-img-container">
                            <img src="assets/images/fifth.JPG" alt="Image" class="tm-activity-img" />
                        </div>
                        <div class="tm-activity-block-text">
                            <h3 class="tm-text-blue">MISSION</h3>
                            <ul class="program-list">
                                <li class="min">Acreaty as an organization aims at helping businesses grow by matching the right
                                    talent to their specialized staffing and consulting needs and build rewarding
                                    careers for the professionals they place. The company adheres to a philosophy of
                                    "Ethics First" in everything it does and creates a work environment where employees
                                    can thrive and innovate. Acreaty inspires its employees to be a socially responsible
                                    corporate citizen and an active participant in the communities in which we live and
                                    work.<img src="/images/check-circle-icon.png" class="fa" alt="" srcset=""></li>

                            </ul>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>