<div class="footer-section" id="contact" id="contact">

    <div class="container">
        <br><br>
        <div class="contact-header">

            <h3> contact</h3>

            <p>Ichalkaranji is situated in western region of Maharashtra state. In 1980 the decentralization of power
                loom Industry in Ichalkaranji was started at a very rapid rate. But there was no consultancy
               which could cater the industry's need of skilled technical man power. Nine co-operative
                organizations from Ichalkaranji therefore, came together under the leadership of Mr. K. B. Awade (Ex.
                M.P) in 1981 to form an consultancy services</p>
            <div class="contact-address">
                <h3>Demo App Consultancy</h3>
                <p>Rajwada, P.O.Box. No.130,<br> Ichalkaranji-416 115<br> Dist: Kolhapur (MAHARASHTRA) INDIA.</p>
                <p>Phone:<br>(0230) 200000<br>(0230) 20000 <br>(0230) 2000000</p>
                <p>Email:<br><span id="cloak52816c46b72fe2127bb823a0fe8b0a58"><a
                            href="xyz@gmail.com">xyz@gmail.com</a></span>
                   
                </p>
                <p>Fax:<br>(0230) 2432329</p>
                <p>Toll Free No:<br>1800 000 0000/p>
                <p>&nbsp;</p>
            </div>
        </div>


        <div class="footer-bottom">



        </div>

        <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    </div>


</div>